<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Car Damage Detection</title>
</head>
<body>
  <h1>Test devops </h1>
  <h1>Turn on Your Camera</h1>
  <video id="video" autoplay></video>
  <h3 id="message"></h3>
  <button id="start-recording">Start Recording</button>
  <button id="stop-recording">Stop Recording</button>
  <div id="download-link" style="display: none;">
    <a id="download-button" href="/output.mp4" download="output.mp4">Download Video</a>
  </div>
  <script>
    const video = document.getElementById('video');
    const messageDiv = document.getElementById('message');
    const startRecordingButton = document.getElementById('start-recording');
    const stopRecordingButton = document.getElementById('stop-recording');
    const downloadLinkDiv = document.getElementById('download-link');
    const downloadButton = document.getElementById('download-button');

    let recording = false;

    startRecordingButton.addEventListener('click', () => {
      fetch('/start_recording', {
        method: 'POST'
      })
      .then(response => {
        if (response.ok) {
          console.log('Recording started.');
          recording = true;
        } else {
          console.error('Failed to start recording.');
        }
      })
      .catch(error => {
        console.error('Error starting recording:', error);
      });
    });

    stopRecordingButton.addEventListener('click', () => {
      fetch('/stop_recording', {
        method: 'POST'
      })
      .then(response => {
        if (response.ok) {
          console.log('Recording stopped.');
          recording = false;
          downloadLinkDiv.style.display = 'block'; // Show download link after recording stops
        } else {
          console.error('Failed to stop recording.');
        }
      })
      .catch(error => {
        console.error('Error stopping recording:', error);
      });
    });

    navigator.mediaDevices.getUserMedia({ video: true })
      .then(stream => {
        video.srcObject = stream;
        const track = stream.getVideoTracks()[0];
        const settings = track.getSettings();
        const aspectRatio = settings.aspectRatio;
        const width = settings.width >= 1920 ? 1920 : settings.width; // Limit width to maximum 1920
        const height = Math.round(width / aspectRatio);

        video.width = width;
        video.height = height;
      })
      .catch(error => {
        console.error('Error accessing webcam:', error);
      });

    video.addEventListener('play', () => {
      const canvas = document.createElement('canvas');
      const context = canvas.getContext('2d');
      const sendFrame = () => {
        if (recording) {
          context.drawImage(video, 0, 0, canvas.width, canvas.height);
          canvas.toBlob(blob => {
            const formData = new FormData();
            formData.append('frame', blob);
            fetch('/video_feed', {
              method: 'POST',
              body: formData
            })
            .then(response => {
              if (response.ok) {
                return response.json();
              } else {
                throw new Error('Network response was not ok');
              }
            })
            .then(data => {
              if (data.message) {
                messageDiv.textContent = data.message;
              } else if (data.error) {
                console.error(data.error);
              }
            })
            .catch(error => {
              console.error('Error receiving JSON response:', error);
            });
          }, 'image/jpeg');
        }
      };
      setInterval(sendFrame, 1000);
    });
  </script>
</body>
</html>
